Various (possible) issues with idle

First of all thanks for this great package, it looks like the only reasonable way of listening for email updates with python.
I had a go at writing a process that listens for updates without polling, e.g. using idle.
I found some issues which could be intended behavior, or not, or they could be issues related to gmail support of IMAP:
1. with gmail, the results of c.check_idle() seem to have normal ids, not uids, regardless of how you set up the IMAPClient (the use_uid option doesn't seem to work).
2. after you get some ids from check_idle(), it's not easy to fetch them, it seems like you need to exit from the idle state with done_idle(), do a fetch(), and then enter idle() again. If this is intended behavior or mandated by the protocol, at least it would be desirable that a call to fetch() fails by throwing an exception, and not by hanging which is what it currently seems to do.
To reproduce:
```
python3 -m imapclient.interact -H imap.gmail.com -u *** -p ***

import logging; logging.basicConfig(format='%(asctime)s - %(levelname)s: %(message)s', level=logging.DEBUG)
c.select_folder('inbox')
c.idle()
c.fetch([123], 'RFC822')
... hangs with error:
2020-11-01 14:26:19,109 - DEBUG: > b'MMDG5 UID FETCH 123 (RFC822)'
2020-11-01 14:26:19,161 - DEBUG: < b'MMDG4 BAD Could not parse command'
2020-11-01 14:26:19,162 - DEBUG: 	matched b'(?P<tag>MMDG\\d+) (?P<type>[A-Z]+) (?P<data>.*)' => (b'MMDG4', b'BAD', b'Could not parse command')
2020-11-01 14:26:19,162 - DEBUG: BAD response: b'Could not parse command'
```
3. I tried to avoid entering and exiting the idle state by creating a second IMAPClient that should just do fetches while the other is idle. That doesn't seem to work, it cannot find the ids being fetched. Maybe that's because these are non-uids and somehow relative to a session.



regarding 1 & 3: if I understand correctly, the number you're talking about is the message count of your mailbox. See [RFC 2060 (§7.3.1)](https://tools.ietf.org/html/rfc2060#section-7.3.1). You can do a search for recent unseen messages or similar to get the actual UIDs

There's not a lot that any IMAP client can do to influence the IDLE responses sent by the server. There seems to be quite a lot of variability in what and how is reported.

What I would would recommend to simply use an IDLE response to indicate that *something* has happened and then do a search to find out what actually changed (this is basically what @onepan was suggesting). You may find some ideas for doing this search efficiently at https://imapwiki.org/ClientImplementation. 